.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(4px);
}
.inner {
  width: max-content;
  min-width: 250px;
  min-height: 250px;
  border-radius: var(--radius);
  background-color: #ffffff;
  padding: 45px 15px;
  position: relative;
  margin: 10% auto 0;
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: var(--indent);
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
}
